body {
	background: url(../images/sky.jpg);
	font-family: 'Groening Plain', arial;
	font-weight: bold;
}

p {
	font-size: 16px;
}

header {
	margin: auto;
	width: 50%;
}

h3, h1, h2 {
	text-align: center;
}

.character h2, .character p{
	text-align: center;
}


.imgbox {
	background: pink;
	text-align: center;
	width: 200px;
	border: 2px ridge blue;
	margin: 0 20px;
}

.imgbox > img {
	max-width: 175px;
	height: auto;
}

.imgbox span, .imgbox p {
	margin: 5px;
}

#chars, #enemies, #outside {
	display: inline-flex;
	width: 100%;
	margin: 0 auto;
}

.reset {
	visibility: hidden;
}

#vs {
	visibility: hidden;
	width: 75px;
	margin: 75px 5px 0 5px;
}

.character, .enemy, .arena {
	background-color: rgba(255, 255, 255, 0.7);
}

.btn {
	margin: 15px;
}